
<div class="d-flex flex-row justify-content-between">
 
    <p id="general-info">Get to know a little more about our doctors!</p>
</div>

 <ul>
{{#each doctor as |doctor|}}

    {{#if isActive}}
    
        <li> Dr. {{fullName}} ({{preferedName}})</li>
        
        
    {{/if}}
{{/each}}
</ul>;



