<div class="d-flex flex-row justify-content-between">
    {{!-- <img src=""> patient profile img --}}
    <p id="general-info">Get to know a little more about our doctors!</p>
</div>

<ul>
{{#each doctors as |doctor|}}
    {{#if isActive}}
        <li><a href="/doctor/{{id}}">Dr. {{fullName}} ({{preferredName}})</a></li>
    {{/if}}
{{/each}}
</ul>