
<div class="d-flex flex-row justify-content-between">
 
    <p id="general-info">Get to know a little more about our doctors!</p>
</div>

 <div>
    <img src="/public/img/drrob.jpeg">
    <p>Dr. Robert Johnston has recently joined our clinic and is happy to be part of the community. He believes in whole person care and wants only the best for his patients.</p>
 </div>

<div>
    <img src="/public/img/drtrish.jpeg">
    <p>Dr. Trish Beaumount is the owner of the clinic and understands that some patients need to access care from remote locations or while on the job. She want to ensure that all patients in her care receive the care possible.</p>
 </div>

