<div class="d-flex flex-row justify-content-center">

    <h2 id="general-info">Our doctors!</hw>
</div>

<h3 class="d-flex flex-row justify-content-center">Dr. Robert Johnston </h3>
<div class="d-flex flex-row justify-content-center">
    <img src="/img/drrob.jpeg" class="drpic">
    
    <p class="drdesc"> Dr. Rob has recently joined our clinic and is happy to be part of the community. He believes in whole person care and
        wants only the best for his patients.</p>
</div>
 <h3 class="d-flex flex-row justify-content-center" > Dr. Trish Beaumount </h3>
<div class="d-flex flex-row justify-content-center">
    <img src="/img/drtrish.jpg" class="drpic">
   
    <p class="drdesc"> Dr. Trish is the owner of the clinic and understands that some patients need to access care from remote locations or while
        on the job. She want to ensure that all patients in her care receive the care possible.</p>
</div>

