<div class="d-flex flex-row justify-content-between">
    {{!-- <img src=""> patient profile img --}}
    <p id="general-info">Get to know a little more about our doctors!</p>
</div>

<div>
    <div>
        {{!-- <img src=""> --}}
        <h3>Name: {{fullname}} ({{preferredName}})</h3>
        <p>Address: {{address}}</p>
        <p>Phone number: {{phoneNumber}}</p>
    </div>
</div>