<h1 class="d-flex flex-row justify-content-center">Become a Patient Today!</h1>

<p class="d-flex flex-row justify-content-center clinicdesc">If you are interested in becoming a patient of our clinic please send the following information to this address info@clinic.com:
    name, email, address
</p>