
        {{!-- local search buttons --}} 
    <nav class="d-flex flex-row justify-content-end">
        <button id="aboutDoc">About the Doctor</button>
        <button id="aboutClinic">About the Clinic</button>
        <button id="becPatient">Become a Patient</button>
    </nav>

{{!-- Add search results. Template search result --}}
<ul id="search-results">
    <li>
        <img src="" alt="patient image">
        <p>Info searched for</p>
        <button>More Info</button>
    </li>
</ul>